@model HiyoshiCfhWeb.Models.ShipInfo

@{
    ViewBag.Title = Model.Name;
}

<h2>@Html.DisplayFor(model => model.ShipType.Name) @Model.Name</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            速力
        </dt>

        <dd>
            @if (Model.ShipSpeed == HiyoshiCfhWeb.Models.ShipSpeed.Fast)
            {
                <text>高速</text>
            }
            else
            {
                <text>低速</text>
            }
        </dd>

        <dt>
            次の改装レベル
        </dt>

        <dd>
            @if (Model.NextRemodelingLevel != null)
            {
                <text>Lv. @Model.NextRemodelingLevel</text>
            }
            else
            {
                <text>改装完了</text>
            }
        </dd>

    </dl>
</div>
