@using HiyoshiCfhWeb.Models
@model LoginViewModel
@{
    ViewBag.Title = "ログイン";
}

<h2>@ViewBag.Title</h2>
<section id="socialLoginForm">
    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
