@{
    ViewBag.Title = "資材統計のインポート";
}

<h2>@ViewBag.Title</h2>

<p>資材統計プラグインのデータをインポートします。下のフォームで ResourcesStatisticsPlugin.db をアップロードすることでインポートを開始できます。</p>
<p class="alert alert-warning">大きなデータベースに対応するために1000件ずつ、ブラウザの画面を更新しながらとり込み作業を行います。
    安定した通信環境とブラウザを使用してインポート作業を行ってください。</p>

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <fieldset class="form-group">
        <input class="form-control-file" type="file" name="importFile">
    </fieldset>
    <input type="submit" class="btn btn-primary" value="送信" />
}
