body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#Google {
    background-image: url('signin-google.png');
    background-position: center top;
    width: 473px;
    height: 108px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    padding: 0;
    border: none;
    outline: none;
}

    #Google:hover {
        background-position: center -108px;
    }

    #Google:active {
        background-position: center -216px;
    }

div.leveling-wrap {
    height: 1000px;
}

    div.leveling-wrap > div {
        height: 100%;
    }

table.leveling tbody tr {
    cursor: pointer;
}

    table.leveling tbody tr:hover {
        background-color: #d3d3d3;
    }

svg#meter {
    height: 100%;
}
