@model HiyoshiCfhWeb.Models.Admiral
<h2>簡易統計</h2>
@{
    var st = Model.Ships.GroupBy(ship =>
    {
        var type = ship.ShipInfo.ShipType.Name;
        switch (type)
        {
            case "戦艦":
            case "航空戦艦":
                type = "戦艦+航空戦艦";
                break;
            case "潜水艦":
            case "潜水空母":
                type = "潜水艦+潜水空母";
                break;
            case "正規空母":
            case "装甲空母":
                type = "正規空母+装甲空母";
                break;
            default:
                break;
        }
        return type;
    }).Select(x => new
    {
        Name = x.Key,
        Sum = x.Sum((Ship) => Ship.Exp)
    }).OrderByDescending((x) => x.Sum);
}
<h3>艦種毎の累積経験値</h3>
<dl class="dl-horizontal">

    @foreach (var item in st)
    {
        <dt>
            @Html.ActionLink(item.Name, "ShipType", new { param = item.Name.Replace("+", "_") })
        </dt>
        <dd>
            @item.Sum
        </dd>
    }
</dl>
