@model HiyoshiCfhWeb.Models.Admiral
<h2>簡易統計</h2>
@{
    var st = Model.Ships.GroupBy(ship =>
    {
        var type = ship.ShipInfo.ShipType.Name;
        return HiyoshiCfhWeb.Models.ShipType.GroupShipType(type);
    }).Select(x => new
    {
        Name = x.Key,
        Sum = x.Sum((Ship) => Ship.Exp)
    }).OrderByDescending((x) => x.Sum);
}
<h3>艦種毎の累積経験値</h3>
<table class="table table-sm">
    <thead>
        <tr>
            <th scope="col">艦種</th>
            <th scope="col">累積経験値の総計</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in st)
        {
            <tr>
                <th scope="row">
                    @Html.ActionLink(item.Name, "ShipType", new { param = item.Name.Replace("+", "_") })
                </th>
                <td>
                    @item.Sum
                </td>
            </tr>
        }
    </tbody>
</table>
